.Projects {
  margin-left: 150px;
}

.Projects h3 {
  margin-bottom: 30px;
  color: azure;
  padding-bottom: 40px;
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: black;
}
.link a:hover {
  color: blue;
}
