.App {
  text-align: center;
  font-family: "El Messiri", sans-serif;
}

.home {
  padding-top: 100px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 0, 24%),
      rgba(0, 0, 255, 24%)
    ),
    url(./bkgd-img.jpg);

  background-size: 1300px, 1300px;
  padding-bottom: 500px;
}
